# 4.6 Merging Instacart Data

## Importing Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Defining the path variable
path = r'C:\Users\khand\Desktop\Careerfoundry\Data Immersion\Achievement - 4\04-2022 Instacart Basket Analysis'

## Importing dataframes

In [3]:
# importing "order_products_prior.csv"
df_ords_prior = pd.read_csv(os.path.join(path, '2. Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [4]:
# importing "orders_checked.csv"
df_ords_checked = pd.read_csv(os.path.join(path, '2. Data', 'Prepared Data', 'Orders_checked.csv'), index_col = False)

## Checking dimensions of the imported dataframes

In [5]:
# checking the first 5 rows
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# checking the first 5 rows
df_ords_checked.head()

,order_id,user_id,order_number,order_day_of_week,order_time_24h_format,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [7]:
# checking rows and columns number
df_ords_prior.shape

(32434489, 4)

In [8]:
# checking the rows and columns number
df_ords_checked.shape

(3421083, 6)

## Checking datatypes of the imported data frames

In [9]:
# checkign data types
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [10]:
# checking data types
df_ords_checked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_day_of_week       int64
 4   order_time_24h_format   int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

# Changing datatypes of the categorical columns

In [12]:
df_ords_checked['order_id'] = df_ords_checked['order_id'].astype('str')

In [13]:
df_ords_checked['user_id'] = df_ords_checked['user_id'].astype('str')

In [16]:
df_ords_prior['order_id'] = df_ords_prior['order_id'].astype('str')

In [17]:
df_ords_prior['product_id'] = df_ords_prior['product_id'].astype('str')

In [18]:
# checking data types
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           object
 1   product_id         object
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(2), object(2)
memory usage: 989.8+ MB

In [19]:
# cecking data types
df_ords_checked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                object
 1   user_id                 object
 2   order_number            int64
 3   order_day_of_week       object
 4   order_time_24h_format   object
 5   days_since_prior_order  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 156.6+ MB

## Merging dataframes

In [20]:
# merging dataframes
df_merged_large = df_ords_checked.merge(df_ords_prior, on = 'order_id', indicator = True)

## Exporting dataframe to ".pkl" format

In [21]:
# Exporting merged dataframe for pkl format
df_merged_large.to_pickle(os.path.join(path, '2. Data', 'Prepared Data', 'orders_merged.pkl'))