# Task 4.6

## Importing libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

## Defining path variable

In [2]:
# defining "path" variable
path = r'C:\Users\khand\Desktop\Careerfoundry\Data Immersion\Achievement - 4\04-2022 Instacart Basket Analysis'

## Importing and checking the dataframes

In [4]:
# importing "orders_products_combined" dataframe
df_orders_products_combined = pd.read_pickle(os.path.join(path, '2. Data', 'Prepared Data', 'orders_merged.pkl'))

In [5]:
# checking the number of rows and columns in the dataframe
df_orders_products_combined.shape

(32434489, 10)

In [6]:
# imorting the "products_checked.csv" dataset as "df_prods" dataframe
df_prods = pd.read_csv(os.path.join(path, '2. Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [7]:
# checking number of rows and columns in the dataframe
df_prods.shape

(49672, 5)

In [8]:
# checking the "df_orders_products_combined" dataframe
df_orders_products_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_time_24h_format,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [9]:
# checking the "df_prods" dataframe
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## Changing merge flag column name to avoid duplicates

In [10]:
# changing the name of the merge flag column to avoid duplication during upcoming merges
df_orders_products_combined.rename(columns = {'_merge' : 'merge_flag_1'}, inplace = True)

In [11]:
# checkign the dataframe after the column name change
df_orders_products_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_time_24h_format,days_since_prior_order,product_id,add_to_cart_order,reordered,merge_flag_1
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

## Changing data types of categorical columns in "df_prods"

In [12]:
# checking data frames
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [13]:
# checking data types
df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                object
 1   user_id                 object
 2   order_number            int64
 3   order_day_of_week       object
 4   order_time_24h_format   object
 5   days_since_prior_order  float64
 6   product_id              object
 7   add_to_cart_order       int64
 8   reordered               int64
 9   merge_flag_1            category
dtypes: category(1), float64(1), int64(3), object(5)
memory usage: 2.4+ GB

In [14]:
# changind data type in "df_prods"
df_prods['product_id'] = df_prods['product_id'].astype('str')

In [15]:
df_prods['aisle_id'] = df_prods['aisle_id'].astype('str')

In [16]:
df_prods['department_id'] = df_prods['department_id'].astype('str')

In [17]:
# checking updated datatypes
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  object
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  object
 3   department_id  49672 non-null  object
 4   prices         49672 non-null  float64
dtypes: float64(1), object(4)
memory usage: 1.9+ MB

## Merging the imported dataframes

In [18]:
# merging the "df_orders_products_combined" dataframe with "df_prods" dataframe
df_orders_products_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

## Checking the final merged dataframe

In [19]:
# checking the number of rows and columns of final merged dataframe
df_orders_products_merged.shape

(32404859, 15)

In [20]:
# checking the merge flags
df_orders_products_merged['_merge'].value_counts(dropna = False)

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [21]:
# checking the final merged dataframe
df_orders_products_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_time_24h_format,days_since_prior_order,product_id,add_to_cart_order,reordered,merge_flag_1,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both

## Exporting the final merged dataframe

In [22]:
# exporting the final merged dataframe
df_orders_products_merged.to_pickle(os.path.join(path, '2. Data', 'Prepared Data', 'orders_products_merged.pkl'))